 body {
      font-family: "Poppins", sans-serif;
      background-color: #2d7044;
      margin: 0;
    }

.container-1{
  width: 85%;
  margin-left: 190px;
  transition: margin-left 0.3s ease;
}

.container-2{
  width: 100%;
  background-color: #2d7044;
  padding: 0;
}
 /* Page content for the two buttons*/
    .page {
      display: none;
    }

    .page.active {
      display: block;
    }

   .container-1 .card {
      background-color: white;
      padding: 20px;
      margin: 10px 0;
      border-radius: 8px;
      box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    }

    
button {
      background: #7ed957;
      color: white;
      border: none;
      padding: 10px 15px;
      cursor: pointer;
      border-radius: 5px;
    }
.menu{
    margin-left: 50px;
}

/* When sidebar collapses */
body.collapsed .container-1 {
  margin-left: 125px;
}

