/* Navigation Bar */

.navbar{
position: fixed;
top: 0;
left: 0; right: 0;
height: 70px;
padding: 0 20px;
z-index: 1000;
background-color: #7ed957;
    
}

#navtitle, #navtitle2{
    color: white;
    float: left;
}

#navtitle{
    margin-left: 15px;
    margin-top: 16px;
    font-size: 30px;
}

#navtitle2{
    margin-top: 28px;
    font-size: 18px;
}

#nav-logo{
    margin-top: 5px;
    margin-left: 25px;
    width: 57px;
    height: 52px;
    float: left;
}

 /* Nav links */
.nav-links {
    display: flex;
    list-style: none;
    gap: 1rem;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.nav-links li a:hover {
    color: #ff9800;
}

/* Hamburger button (hidden by default) */
.hamburger {
    display: none;
    flex-direction: column;
    float: right;
    padding-top: 15px;
    padding-right: 25px;
    cursor: pointer;
}

.hamburger span {
height: 3.5px;
width: 25px;
background: white;
margin: 4px 0;
border-radius: 5px;
}

/* Responsive */
@media (max-width: 1800px) {
.nav-links, .nav-links:hover{
    display: none;
    flex-direction: column;
    position: absolute;
    top: 35px;
    right: 0;
    background-color: #333;
    width: 180px;
    padding: 10px;
    text-align: center;
    overflow: hidden;

        /* animation setup */
        max-height: 0;
        opacity: 0;
        transition: max-height 0.4s ease, opacity 0.4s ease;
      }


.nav-links.active {
    max-height: 500px; /* big enough to fit all links */
        opacity: 1;
        display:flex;
}

.hamburger {
    display: flex;
    }
}

/* Turns the hamburger menu into an X */

 .hamburger.active span:nth-child(1) {
      transform: rotate(45deg) translate(5.5px, 5.5px);
    }
    .hamburger.active span:nth-child(2) {
      opacity: 0;
    }
    .hamburger.active span:nth-child(3) {
      transform: rotate(-45deg) translate(10px, -10px);
    }

/* End of Navigation Bar */