 body {
      font-family: "Poppins", sans-serif;
      background-color: #f4f6f9;
      margin: 0;
    }

.container{
    display:flex;
    flex-direction: row;
}

.container-1{
    margin-left: 10px;
    width:62%;
    height:495px;
    border-right: 1px solid gray;
    top: 0;
}

.products {
      flex: 2;
      margin-right: 5px;
      padding-top: 10px;
      padding-bottom: 10px;
      overflow-y: auto;
    }

    .products h2 {
      margin-bottom: 15px;
    }

    .product-grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
      gap: 15px;
    }

    .product-card {
      background: white;
      border-radius: 10px;
      box-shadow: 0 2px 6px rgba(0,0,0,0.1);
      overflow: hidden;
      text-align: center;
      display: flex;
      flex-direction: column;
    }

    .product-card img {
      width: 85%;
      height: 120px;
      margin-top: 15px;
      margin-left: 18px;
      object-fit:contain;
    }

    .product-info {
      padding-top: 10px;
      padding-bottom: 10px;
      flex-grow: 1;
    }

    .product-info h3 {
      font-size: 16px;
      margin: 5px 0;
    }

    .product-info p {
      font-size: 14px;
      color: #555;
      margin: 5px 0;
    }

    .product-card button {
      margin: 10px;
      padding: 8px;
      border: none;
      border-radius: 6px;
      cursor: pointer;
      background: #7ed957;
      color: white;
      font-size: 14px;
    }

    .product-card button:hover {
      background: #59b731;
    }

    .checkout {
      flex: 1;
      margin-top: 20px;
      padding: 0px 20px 0 20px;
      width:100%;
      height:230px;
      overflow: auto;
    }

    .checkout h3 {
      margin-bottom: 15px;
      position:sticky;
      flex: 1;
    }

    #cart {
      margin-bottom: 20px;
    }

    .cart-item {
      display: flex;
      justify-content: space-between;
      padding: 8px 0;
      border-bottom: 1px solid #eee;
    }

    .total {
      font-weight: bold;
      padding-left:10px;
      padding-right:10px;
      padding-bottom:10px;
      padding-top: 5px;
      background-color: #f4f6f9;
    }

    .total p{
      padding-bottom: 1px;
    }

    button.remove-btn {
      background: red;
      color: white;
      padding: 2px 8px;
      border-radius: 4px;
      font-size: 12px;
    }

    input, select {
      width: 100%;
      padding: 8px;
      margin-bottom: 12px;
      border: 1px solid #ddd;
      border-radius: 6px;
    }

#checkoutBtn {
      width: 100%;
      padding: 5px;
      font-size: 16px;
      background: #7ed957;
      border-radius: 8px;
      bottom: 0;
    }

.end{
  bottom: 0;
  position: fixed;
  width: 33%;
  margin-bottom: 10px;
}
    
     .orders { 
        margin-top: 20px; 
    }
    .order-card { 
        background: white; 
        padding: 10px; 
        margin-bottom: 10px; 
        border-radius: 8px; 
        box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
    }

#receiptPopup{
  display:none;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.6);
  align-items:center;
  justify-content:center;
  z-index:1000;
  }

.receipttable{
  width:100%;
  border-collapse:collapse;
  font-size:14px;
  text-align:center
}
.creceiptbtn{
  margin-top:10px;
  padding:6px 12px;
  border:none;
  border-radius:6px;
  background:#7ed957;
  color:white;
}

input {
      padding: 2px;
      font-size: 15px;
      border-radius: 6px;
      border: 1px solid #ccc;
      text-align: right;
    }
.amount {
margin-bottom: 5px;
font-size: 15px;
}

h4{
  padding: 0;
}
label{
  font-size: 12px;
}

.total p{
  margin-top: 0px;
}