 body {
      font-family: "Poppins", sans-serif;
      background-color: #f4f6f9;
      margin: 0;
    }

/* Default expanded sidebar */
body .container {
  margin-left: 220px;
  transition: margin-left 0.3s ease;
}


body.collapsed .container {
  margin-left: 100px;
}

body.collapsed .container {
  width: 100%;
}

.container{
  width: 80%;
  
}
.line{
  padding: 20px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
}

.dates{
  margin-bottom: 15px;
  margin-left: 50px;
  padding: 10px;
  padding-bottom: 0;
  background: #7ed957;
  color: black;
  border: none;
  border-radius: 8px;
}

    .table-container {
      display: flex;
      background: white;
      padding: 20px;
      border-radius: 12px;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
      overflow-x: auto;
      margin-right: 20px;
      height:100%;
    }
    table {
      width: 100%;
      border-collapse: collapse;
    }

    th, td {
      padding: 10px 8px;
      text-align: center;
      border-bottom: 1px solid #ddd;
      
    }

    th {
      background-color: #7ed957;
      color: white;
      top: 0;
      z-index: 2;
      align-items: center;
      justify-content: center;
      display: sticky;
    }

    tr:hover {
      background-color: #f9f9f9;
    }

    #searchInput {
      width: 45%;
      padding: 10px;
      margin-bottom: 15px;
      border-radius: 8px;
      border: 1px solid #ccc;
      font-size: 15px;
    }

    .view-btn {
      background: #7ed957;
      color: white;
      border: none;
      padding: 6px 12px;
      border-radius: 6px;
      cursor: pointer;
    }

    .view-btn:hover {
      background: #45a049;
    }

    
    #downloadPDF {
      display: inline-block;
      padding: 10px 18px;
      background: #7ed957;
      color: black;
      border: none;
      border-radius: 8px;
      font-size: 14px;
      cursor: pointer;
      transition: 0.2s;
      margin-left: 35px;
      margin-bottom: 15px;
    }

    #downloadPDF:hover {
      background: #45a049;
      color:white;
    }