body{
    font-family: "Poppins", sans-serif;
    margin: 0;
    background-color: #2d7044;
}

body .container {
  padding-left: 200px;
  transition: padding-left 0.3s ease;
  background-color: #2d7044;
  width: 100%;
  height: 100%;
}

/* When collapsed */
body.collapsed .container {
  padding-left: 100px;
  background-color: #2d7044;
}

.container h3{
  color: white;
}


.card {
  background: #fff;
  padding: 10px;
  margin-top: 10px;
  margin-right: 10px;
  border-radius: 10px;
  box-shadow: 0px 2px 7px rgba(0,0,0,0.08);
}

.card h2 {
  margin-bottom: 20px;
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  overflow-x: auto;
  height: 50%;
  display:flex;
  flex-direction: column;
}

thead {
  background: #7ed957;
  width: 100%;
}

thead th {
  padding: 10px 58.5px;
  text-align: left;
  align-items: center;
  justify-content: center;
  font-size: 15px;
}

tbody td {
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;
  text-align: justify;
}

tbody tr:hover {
  background: #fafafa;
}

.btn {
  padding: 12px 18px;
  border: none;
  border-radius: 8px;
  background: #0069ea;
  color: white;
  cursor: pointer;
}

.btn.danger {
  background: #d32f2f;
}

.hidden {
  display: none;
}

